
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
<button (click)="funcion_Mostrar()" name="btn_lista">{{mostrarListaColores ?'ocultar lista':'mostrar lista'}}</button>
<div #divlista *ngIf="mostrarListaColores" class="color_lista">
    <ul>
        <li *ngFor="let color of colores">{{color}}
        </li>
    </ul>
      <form (submit)= "funcion_enviar (valorColor)" >
        <input #valorColor type="text" name="inputColor" >
      
      
      </form>
</div>
  
</div>

<app-nuevocomponente>
  
</app-nuevocomponente>



